@font-face {
  font-family: "Lato";
  src: url("./assets/Lato.ttf");
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato";
  max-width: 1524px;
  min-width: 280px;
}
html {
  font-family: "Lato";
  background-color: #ffd7d7;
  max-width: 1524px;
  min-width: 280px;
}
